main {
    width: 90vw;
    margin: auto;
    background-color: lightgrey;
    padding: 2rem;
}

.product {
    width: 90;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 3px;
    padding: 2rem;
    font-size: 1.5rem;
}

.purchasing-line {
    margin: 1rem;
    height: 3rem;
    background-color: rgb(145, 212, 147);
    color: #fff;
    border-radius: 3px;
    padding: 2rem;
    font-size: 1.5rem;
}

.purchasing-button {
    float: right;
    margin: auto 0;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 49%;
    opacity: 0.8;
}
   

/*From https://webdesign.tutsplus.com/tutorials/a-simple-javascript-technique-for-filling-star-ratings--cms-29450 */

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    font-size: 20px;
    background: #fff;
}
       
table th, 
table tr:nth-child(2n+2) {
    background: #e7e7e7;
}
        
table th, 
table td {
    padding: 20px 50px;
}
        
table th {
    border-bottom: 1px solid #d4d4d4;
}
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: Georgia, serif;
}
       
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}
       
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
       
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}